<% if @games.size == 0 %>
  <h3>Sorry looks like there are no games</h3>
<% else %>
  <% @games.each_with_index do |game, index| %>
    <div class="games-card btn">
      <% if game['home_team']['name'].delete(' ') == "76ers" %>
        <div class="avatar" id="sixers">
        <% else %>
          <div class="avatar" id="<%= game['home_team']['name'].delete(' ') %>">
          <% end %>
        </div>
        <div class="row">
          <div>
            <h5> <%= game['home_team']['name'] %></h5>
          </div>
          <div>
            <%= game['home_team_score'] %>
          </div>
        </div>
        <h3> vs </h3>
        <div>
          <div class="row">
            <div>
              <h5> <%= game['visitor_team']['name'] %> </h5>
            </div>
            <div>
              <%= game['visitor_team_score'] %>
            </div>
          </div>
        </div>
        <% if game['visitor_team']['name'].delete(' ') == "76ers" %>
          <div class="avatar" id="sixers">
          <% else %>
            <div class="avatar" id="<%= game['visitor_team']['name'].delete(' ') %>">
            <% end %>
          </div>
        </div>
        <div class="moreGameData overflow-auto" >
          <div class="d-flex justify-content-center">
            <div>
              <ul>
                <% @gamestats[index].each do |stats| %>
                  <% if stats['team']['name'] == game['home_team']['name'] %>
                    <li>
                      <p style="color:black;"> <%= "#{stats['team']['name']} #{stats['player']['first_name']} #{stats['player']['last_name']} #{stats['pts']}" %></p>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div>
              <ul>
                <% @gamestats[index].each do |stats| %>
                  <% if stats['team']['name'] == game['visitor_team']['name'] %>
                    <li>
                      <p style="color:black;"> <%= "#{stats['team']['name']} #{stats['player']['first_name']} #{stats['player']['last_name']} #{stats['pts']}" %></p>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
