<h1> East </h1>
<% @games.each do |game| %>
  <div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= game.home_team.full_name %> vs <%= game.visitor_team.full_name %> <%= game.date %></h5>
      <p class="card-text">Score: <%= game.home_team.abbreviation %> - <%= game.home_team_score %> to <%= game.visitor_team.abbreviation %> - <%= game.visitor_team_score %></p>
      <p class="card-text">Further stats</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
<% end %>
